# build artifacts
/target/
/*/target/

# data generated during runtime
/data/
/*/data/
/logs/
scratch

# replit
.cargo/git/
.cargo/registry/
.cargo/

# configuration / secrets
Secrets.toml
.env
.env.old
cracktunes.env
cracktunes.toml
dotenv
dist-manifest.json

# IDE config
#.vscode/

# code coverage
cobertura.xml
**/*.profraw
