# build artifacts
/target/
/*/target/

# data generated during runtime
/data/
/*/data/
/logs/

# configuration / secrets
Secrets.toml
.env
.env.old
cracktunes.env

# IDE config
.vscode/

# submodules
dep-installer-hack/

# code coverage
cobertura.xml
