# build artifacts
/target/
/*/target/

# data generated during runtime
/data/
/*/data/
/logs/
scratch

# configuration / secrets
Secrets.toml
.env
.env.old
cracktunes.env
cracktunes.toml

# IDE config
#.vscode/

# code coverage
cobertura.xml
**/*.profraw