run = "cargo build"
hidden = ["target"]
entrypoint = "src/main.rs"
modules = ["rust-nightly:v4"]

[packager]
language = "rust"

[packager.features]
packageSearch = true

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[languages]

[languages.rust]
pattern = "**/*.rs"

[languages.rust.languageServer]
start = "rust-nightly-analyzer"

[deployment]
run = ["sh", "-c", "cargo run"]
