run = "cargo run --release --features crack-gpt,crack-osint,crack-bf,crack-voting"
hidden = ["target"]
entrypoint = "src/main.rs"
modules = ["rust-stable:v4-20240117-0bd73cd"]

[packager]
language = "rust"

[packager.features]
packageSearch = true

[nix]
channel = "stable-22_11"
#channel = "stable"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[languages]

[languages.rust]
pattern = "**/*.rs"

[languages.rust.languageServer]
start = "rust-analyzer"

[deployment]
run = ["sh", "-c", "cargo dist"]
